.height{
	height: 100%;
}
.center{
	margin: auto;
	height: 100%;
}
#map{

	height: 80%; 
	border: 3px solid #023598; 
	padding: 10px; 
}
.footer{

	position: absolute;
	bottom: 0;
	width: 100%;
	height: 20%;
}
audio.footer
{
	position: fixed;
	vertical-align: bottom;
	left: 50%;
}