<html>
  <head>
	<link rel="stylesheet" href="/static/style.css">
	<link rel="stylesheet" href="/static/bootstrap.min.css">
  <link rel="stylesheet" href="/static/dropzone.css">
   <script type="text/javascript" src="/js/jquery-1.6.2.min.js"></script>
  <script type="text/javascript" src="/js/sammy-latest.min.js"></script>
  <script type="text/javascript" src="/js/highlight/highlight.pack.js"></script>
  <script src="/js/jquery.ajaxlinks.js"></script>

  <script type="text/javascript">
            $('#nav li').ajaxlinks({
              load_to: '#content',
              load_from: '#content'
            });       
  </script>


  </head>
	<body>


<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">PanAmb</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class= "{{current}}"><a href="/profile">Profile<span class="sr-only">({{current}})</span></a></li>
        <li class="{{current}}"><a href="#">Likes<span class="sr-only">({{current}})</span></a></li>
        <li class="{{current}}"><a href="#">Streams<span class="sr-only">({{current}})</span></a></li>
        <li class="{{current}}"><a href="/myuploads">My Music<span class="sr-only">({{current}})</span></a></li>
        <p class="navbar-text"><b>Welcome {{username}}</b></p> 
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="{{current}}"><a href="/contactus">Contact Us<span class="sr-only">({{current}})</span></a></li>
        <li><a href="{{lo_url}}">Log Out</a></li>
          </ul>
        </li>
      </ul>
      <form class="navbar-form navbar-right" role="search">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search this site">
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-default">
                        <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </span>
                </div>
            </form>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
		<div class="container-fluid">
			<div class="row"> 
					<div class="row height"> <!-- content area -->
						<div class="height">
							{% block bodycontent %}
              <div id="content" class="content">

							</div>
							{% endblock %}
						</div>
						</div>
					</div>		
				</div>
			</div>
		</div>	
          <div class = "footer" style = "text-alignment:center">
                  <audio id="ply" class = "footer" controls="" width="300" height="50" name="media"><source src="" type="audio/mp3" autoplay=""></audio>
          </div>
	</body>
	
</html>		