{% extends "base.html" %}
{% block header %}

{% endblock %}
{% block bodycontent %}
	<div align = "center">

		<h1> Contact the team! </h1>
		<form method="post" action="/send-contact">
	      Your Name:<br>
	      <input name="name"><br><br><br>
	      Your Email:<br>
	      <input name="email"><br><br><br>
	      Your Message:<br>
	      <textarea name="message"></textarea><br><br><br>
	      <input type="submit" value="Send">
	    </form>
	</div>
{% endblock %}
{% block footer %}
	<div class="center">
		
	Footer

	</div>
{% endblock %}