{% extends "base.html" %}
{% block header %}

{% endblock %}

{% block bodycontent %}
	<p>
  	<style type='text/css'>
      	html, body {margin:0; padding:0;}
  	</style>
  	<div id="map"></div>
   	<script type="text/javascript">
       var map;
      function initMap() 
      {
      	//map.setMapTypeId(google.maps.MapTypeId.TERRAIN);
        map = new google.maps.Map(document.getElementById('map'), {
        center: {lat: 0, lng: 0},
        zoom: 3,
        mapTypeId: google.maps.MapTypeId.HYBRID

        });
      }
    </script>
    <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAOsLI2UMhZ1wO159CL0Bw0B8pdio-7ArQ&callback=initMap">
    </script>
	</p>
{% endblock %}

{% block footer %}
	<div class="center">
		
	Footer

	</div>
{% endblock %}


