{% extends "base.html" %}

{% block header %}

{% endblock %}
{% block bodycontent %}
<div align = "center">

Name: {{name}}

<br>
<div  align = "center">
<audio controls="controls">
  <source src="{{music_url}}" type="audio/mp3" />
</audio>

</div>
</div>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>


{% endblock %}
{% block footer %}
	<div class="center">
		
	Footer

	</div>


{% endblock %}