{%extends "base.html"%}
{% block body content%}

<p>
  <div id="map"></div>
  <style type='text/css'>
      html, body {height: 100%; margin:0; padding:0;}
      #map{height: 75%; border: 3px dotted #023598; padding: 10px; }
    </style>

   <script type="text/javascript">
       var map;
      function initMap() 
      {
        map = new google.maps.Map(document.getElementById('map'), {
        center: {lat: 0, lng: 0},
        zoom: 2
        });
      }
    </script>
    <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAOsLI2UMhZ1wO159CL0Bw0B8pdio-7ArQ&callback=initMap">
    </script>
</p>

{%endblock%}