{% extends "base.html" %}
{% block header %}

{% endblock %}
{% block bodycontent %}
<div align = "center">

	<form action="{{upload_url}}" class="dropzone" enctype="multipart/form-data">
  		<div class="fallback">
    		<input name="file" type="file" multiple />
  		</div>
	</form>


	<h2>MUSIC</h2>

	{% for music in tracks %}
	<!--{% if music.track %}-->
		<button type="button" onClick="play('/music/{{music.track}}')" id="/music/{{music.track}}">Play {{music.name}} </button>
		<br>
	<!--{% else %}-->
		SOMETHING IS WRONG
	<!--{% endif %}-->
	{% empty %}
		There is no music.
	{% endfor %}
	<script src="js/dropzone.js"></script>

	<script>
		function play(url)
		{
			document.getElementById("ply").setAttribute("src", url);
			document.getElementById("ply").setAttribute("autoplay", "autoplay");
		}
	</script>

</div>
{% endblock %}
{% block footer %}
	<div class="center">
		
	footer

	</div>
{% endblock %}