{% extends "base.html" %}
{% block header %}

{% endblock %}
{% block bodycontent %}
	
	<form method="post" action="{{upload_url}}" enctype="multipart/form-data" align = "center">
		Title: {{username}}
  		<br>
  		Profile Picture:
  		<div style="width:110px;height:110px;border:1px solid #000;" align = "center">
  			{% if image_id %}
				<img src="/img?id={{image_id}}" alt="NO image" width="100px" height="100px" border="0" />
			{% else %}
				<img src="#" id="blah" alt="your picture" height="100px" width="100px"/>
			{% endif %}
		</div>
  		<br>
  		<input type="file" id="imgInp" />
		<br>
  		<input type="submit" value="save picture"> 
	</form>
	
	
{% endblock %}
{% block footer %}
	<div class="center">
		
	Footer

	</div>


{% endblock %}

<script>
  function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            
            reader.onload = function (e) {
                $('#blah').attr('src', e.target.result);
            }
            
            reader.readAsDataURL(input.files[0]);
        }
    }
    
    $("#imgInp").change(function(){
        readURL(this);
    });
</script>
